{% load util %}

{% for subnote in subnotes %}
  {% if subnote.type == 'text' %}
    {% for text in subnote.content %}
    <p>{{text}} <small class="text-muted"><cite title="{{source | source_filter }}">{{source | source_filter }}</cite></small></p>
    {% endfor %}
  {% elif subnote.type == 'orderedlist' %}
  <ul>
    {% for item in subnote.content %}
    <li>{{item}}</li>
    {% endfor %}
  </ul>
  <small class="text-muted"><cite title="{{source | source_filter }}">{{source | source_filter }}</cite></small>
  {% else %}
  <dl>
    {% for item in subnote.content %}
    <dt>{{item.label}}</dt><dd>{{item.value}}</dd>
    {% endfor %}
  </dl>
  <small class="text-muted"><cite title="{{source | source_filter }}">{{source | source_filter }}</cite></small>
  {% endif %}
{% endfor %}
