<div class="col-12">
  {% if item.has_children %}
    <h{{h}}>
      <a class="collapse-icon {% if 'objects' in item.children.ref %} collapsed{% else %} show{% endif %}" href="#children-{{slug}}" data-toggle="collapse" aria-expanded="{% if 'objects' in item.children.ref %}false{%else%}true{%endif%}" aria-controls="children-{{slug}}"></a>
      <a href="{% url 'app:collection-detail' item.pk %}">{{item.title}}</a>
    </h{{h}}>
  {% else %}
    <a href="{% url 'app:object-detail' item.pk %}">{{item.title}}</a>
  {% endif %}
  {% if item.has_children %}
    <div id="children-{{slug}}" class="col-12 list-unstyled collapse {% if 'objects' in item.children.ref %}collapsed{% else %}show{% endif %}">
    {% for item in item.children %}
      {% include 'viewer/common/tree-item.html' with h=h|add:"1" %}
    {% endfor %}
    </div>
  {% endif %}
</div>
