ArchivesSnake==0.9.1
asterism==0.8
Django==4.0.4
django4-cron==0.5.1
djangorestframework==3.13.1
ElectronBonder==1.0
iso-639==0.4.5
jsonschema==4.4.0
odin==1.7.3
psycopg2-binary==2.9.3
PyYAML==6.0
rac-schemas==0.30
requests==2.27.1
shortuuid==1.0.8
uritemplate==4.1.1
vcrpy==4.1.1
