ArchivesSnake==0.9.1
asterism==0.7.2
Django==3.2.12
django-cron==0.5.1
djangorestframework==3.12.4
ElectronBonder==0.7.2
health-check==3.4.1
iso-639==0.4.5
jsonschema==3.2.0
odin==1.7.0
psycopg2-binary==2.9.1
PyYAML==5.4.1
rac-schemas==0.27
requests==2.25.1
shortuuid==1.0.1
uritemplate==3.0.1
vcrpy==4.1.1
