interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/wiki/Special:EntityData/Q11239.json
  response:
    body:
      string: '{"entities":{"Q11239":{"pageid":12730,"ns":0,"title":"Q11239","lastrevid":939081170,"modified":"2019-05-11T07:39:52Z","type":"item","id":"Q11239","labels":{"nl":{"language":"nl","value":"David
        Rockefeller"},"fr":{"language":"fr","value":"David Rockefeller"},"en":{"language":"en","value":"David
        Rockefeller"},"ko":{"language":"ko","value":"\ub370\uc774\ube44\ub4dc \ub85d\ud3a0\ub7ec"},"de":{"language":"de","value":"David
        Rockefeller"},"ca":{"language":"ca","value":"David Rockefeller"},"cs":{"language":"cs","value":"David
        Rockefeller"},"da":{"language":"da","value":"David Rockefeller"},"en-ca":{"language":"en-ca","value":"David
        Rockefeller"},"en-gb":{"language":"en-gb","value":"David Rockefeller"},"es":{"language":"es","value":"David
        Rockefeller"},"eu":{"language":"eu","value":"David Rockefeller"},"fi":{"language":"fi","value":"David
        Rockefeller"},"it":{"language":"it","value":"David Rockefeller"},"ja":{"language":"ja","value":"\u30c7\u30a4\u30f4\u30a3\u30c3\u30c9\u30fb\u30ed\u30c3\u30af\u30d5\u30a7\u30e9\u30fc"},"pl":{"language":"pl","value":"David
        Rockefeller"},"pt":{"language":"pt","value":"David Rockefeller"},"pt-br":{"language":"pt-br","value":"David
        Rockefeller"},"ro":{"language":"ro","value":"David Rockefeller"},"ru":{"language":"ru","value":"\u0420\u043e\u043a\u0444\u0435\u043b\u043b\u0435\u0440,
        \u0414\u044d\u0432\u0438\u0434"},"sr":{"language":"sr","value":"\u0414\u0435\u0458\u0432\u0438\u0434
        \u0420\u043e\u043a\u0444\u0435\u043b\u0435\u0440"},"sv":{"language":"sv","value":"David
        Rockefeller"},"uk":{"language":"uk","value":"\u0414\u0435\u0432\u0456\u0434
        \u0420\u043e\u043a\u0444\u0435\u043b\u043b\u0435\u0440"},"hu":{"language":"hu","value":"David
        Rockefeller"},"tr":{"language":"tr","value":"David Rockefeller"},"oc":{"language":"oc","value":"David
        Rockefeller"},"nb":{"language":"nb","value":"David Rockefeller"},"ang":{"language":"ang","value":"David
        Rockefeller"},"de-ch":{"language":"de-ch","value":"David Rockefeller"},"fa":{"language":"fa","value":"\u062f\u06cc\u0648\u06cc\u062f
        \u0631\u0627\u06a9\u0641\u0644\u0631"},"sco":{"language":"sco","value":"David
        Rockefeller"},"hr":{"language":"hr","value":"David Rockefeller"},"nn":{"language":"nn","value":"David
        Rockefeller"},"he":{"language":"he","value":"\u05d3\u05d9\u05d9\u05d5\u05d5\u05d9\u05d3
        \u05e8\u05d5\u05e7\u05e4\u05dc\u05e8"},"uz":{"language":"uz","value":"David
        Rockefeller"},"zh-hant":{"language":"zh-hant","value":"\u5927\u885b\u00b7\u6d1b\u514b\u83f2\u52d2"},"zh-cn":{"language":"zh-cn","value":"\u5927\u536b\u00b7\u6d1b\u514b\u83f2\u52d2"},"hy":{"language":"hy","value":"\u0534\u0565\u0575\u057e\u056b\u0564
        \u054c\u0578\u0584\u0586\u0565\u056c\u056c\u0565\u0580"},"el":{"language":"el","value":"\u039d\u03c4\u03ad\u03b9\u03b2\u03b9\u03bd\u03c4
        \u03a1\u03bf\u03ba\u03c6\u03ad\u03bb\u03b5\u03c1"},"az":{"language":"az","value":"Devid
        Rokfeller"},"ar":{"language":"ar","value":"\u062f\u064a\u0641\u064a\u062f
        \u0631\u0648\u0643\u0641\u0644\u0631"},"et":{"language":"et","value":"David
        Rockefeller"},"fo":{"language":"fo","value":"David Rockefeller"},"id":{"language":"id","value":"David
        Rockefeller"},"lad":{"language":"lad","value":"David Rockefeller"},"nan":{"language":"nan","value":"David
        Rockefeller"},"zh":{"language":"zh","value":"\u5927\u536b\u00b7\u6d1b\u514b\u83f2\u52d2"},"an":{"language":"an","value":"David
        Rockefeller"},"ast":{"language":"ast","value":"David Rockefeller"},"ext":{"language":"ext","value":"David
        Rockefeller"},"gl":{"language":"gl","value":"David Rockefeller"},"sl":{"language":"sl","value":"David
        Rockefeller"},"ms":{"language":"ms","value":"David Rockefeller"},"ur":{"language":"ur","value":"\u0688\u06cc\u0648\u0688
        \u0631\u0627\u06a9\u0627\u0641\u06cc\u0644\u0631"}},"descriptions":{"nl":{"language":"nl","value":"Amerikaans
        bankier"},"fr":{"language":"fr","value":"homme d''affaires et milliardaire
        am\u00e9ricain"},"ko":{"language":"ko","value":"\ubbf8\uad6d\uc758 \uc740\ud589\uac00,
        \uc0ac\uc5c5\uac00\uc774\uba70, \ud604\uc7ac \ub85d\ud3a0\ub7ec \uac00\ubb38\uc758
        \ub2f9\uc8fc\uc774\ub2e4."},"it":{"language":"it","value":"banchiere statunitense"},"es":{"language":"es","value":"empresario
        estadounidense"},"en":{"language":"en","value"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/wiki/Special:EntityData/Q11237.json
  response:
    body:
      string: '{"entities":{"Q11237":{"pageid":12728,"ns":0,"title":"Q11237","lastrevid":938386920,"modified":"2019-05-10T12:35:17Z","type":"item","id":"Q11237","labels":{"nl":{"language":"nl","value":"Nelson
        Rockefeller"},"fr":{"language":"fr","value":"Nelson Rockefeller"},"en":{"language":"en","value":"Nelson
        Rockefeller"},"de":{"language":"de","value":"Nelson Rockefeller"},"ca":{"language":"ca","value":"Nelson
        Rockefeller"},"cs":{"language":"cs","value":"Nelson Rockefeller"},"da":{"language":"da","value":"Nelson
        Rockefeller"},"en-ca":{"language":"en-ca","value":"Nelson Rockefeller"},"en-gb":{"language":"en-gb","value":"Nelson
        Rockefeller"},"es":{"language":"es","value":"Nelson Rockefeller"},"et":{"language":"et","value":"Nelson
        Rockefeller"},"fi":{"language":"fi","value":"Nelson A. Rockefeller"},"he":{"language":"he","value":"\u05e0\u05dc\u05e1\u05d5\u05df
        \u05e8\u05d5\u05e7\u05e4\u05dc\u05e8"},"hu":{"language":"hu","value":"Nelson
        Rockefeller"},"id":{"language":"id","value":"Nelson Rockefeller"},"ilo":{"language":"ilo","value":"Nelson
        Rockefeller"},"it":{"language":"it","value":"Nelson Rockefeller"},"ja":{"language":"ja","value":"\u30cd\u30eb\u30bd\u30f3\u30fb\u30ed\u30c3\u30af\u30d5\u30a7\u30e9\u30fc"},"ka":{"language":"ka","value":"\u10dc\u10d4\u10da\u10e1\u10dd\u10dc
        \u10e0\u10dd\u10d9\u10e4\u10d4\u10da\u10d4\u10e0\u10d8"},"ko":{"language":"ko","value":"\ub12c\uc2a8
        \ub85d\ud3a0\ub7ec"},"la":{"language":"la","value":"Nelson Rockefeller"},"mr":{"language":"mr","value":"\u0928\u0947\u0932\u094d\u0938\u0928
        \u0930\u0949\u0915\u0947\u092b\u0947\u0932\u0930"},"pl":{"language":"pl","value":"Nelson
        Rockefeller"},"pt":{"language":"pt","value":"Nelson Rockefeller"},"pt-br":{"language":"pt-br","value":"Nelson
        Rockefeller"},"ro":{"language":"ro","value":"Nelson Rockefeller"},"ru":{"language":"ru","value":"\u041d\u0435\u043b\u044c\u0441\u043e\u043d
        \u041e\u043b\u0434\u0440\u0438\u0447 \u0420\u043e\u043a\u0444\u0435\u043b\u043b\u0435\u0440"},"sr":{"language":"sr","value":"\u041d\u0435\u043b\u0441\u043e\u043d
        \u0420\u043e\u043a\u0444\u0435\u043b\u0435\u0440"},"sv":{"language":"sv","value":"Nelson
        Rockefeller"},"tr":{"language":"tr","value":"Nelson Rockefeller"},"uk":{"language":"uk","value":"\u041d\u0435\u043b\u044c\u0441\u043e\u043d
        \u041e\u043b\u0434\u0440\u0438\u0447 \u0420\u043e\u043a\u0444\u0435\u043b\u043b\u0435\u0440"},"war":{"language":"war","value":"Nelson
        Rockefeller"},"yo":{"language":"yo","value":"Nelson Rockefeller"},"zh":{"language":"zh","value":"\u7eb3\u5c14\u900a\u00b7\u6d1b\u514b\u83f2\u52d2"},"hr":{"language":"hr","value":"Nelson
        Rockefeller"},"az":{"language":"az","value":"Nelson Rokfeller"},"oc":{"language":"oc","value":"Nelson
        Rockefeller"},"el":{"language":"el","value":"\u039d\u03ad\u03bb\u03c3\u03bf\u03bd
        \u03a1\u03bf\u03ba\u03c6\u03ad\u03bb\u03b5\u03c1"},"ang":{"language":"ang","value":"Nelson
        Rockefeller"},"de-ch":{"language":"de-ch","value":"Nelson Rockefeller"},"nb":{"language":"nb","value":"Nelson
        Rockefeller"},"lv":{"language":"lv","value":"Nelsons Rokfellers"},"fa":{"language":"fa","value":"\u0646\u0644\u0633\u0646
        \u0631\u0627\u06a9\u0641\u0644\u0631"},"be":{"language":"be","value":"\u041d\u0435\u043b\u044c\u0441\u0430\u043d
        \u041e\u043b\u0434\u0440\u044b\u0447 \u0420\u0430\u043a\u0444\u0435\u043b\u0435\u0440"},"fy":{"language":"fy","value":"Nelson
        Rockefeller"},"nn":{"language":"nn","value":"Nelson Rockefeller"},"sco":{"language":"sco","value":"Nelson
        Rockefeller"},"ar":{"language":"ar","value":"\u0646\u064a\u0644\u0633\u0648\u0646
        \u0631\u0648\u0643\u0641\u0644\u0631"},"sh":{"language":"sh","value":"Nelson
        Rockefeller"},"lb":{"language":"lb","value":"Nelson Rockefeller"},"sw":{"language":"sw","value":"Nelson
        Rockefeller"},"vi":{"language":"vi","value":"Nelson Rockefeller"},"nan":{"language":"nan","value":"Nelson
        Rockefeller"},"an":{"language":"an","value":"Nelson Rockefeller"},"ast":{"language":"ast","value":"Nelson
        Rockefeller"},"ext":{"language":"ext","value":"Nelson Rockefeller"},"gl":{"language":"gl","value":"Nelson
        Rockefeller"},"ms":{"language":"ms","value":"Nelson Rockefeller"},"cdo":{"language":"cdo","value":"Nelson
        Rockefeller"},"bg":{"language":"bg","value":"\u041d\u0435\u043b\u0441\u044a\u043d
        \u0420\u043e\u043a\u0444\u0435\u043b\u0435\u0440"},"is":{"language":"is","value":"Nelson
        Rockefeller"},"sl":{"language":"sl","value":"Nelson Rockefeller"},"th":{"language":"th","value":"\u0e40\u0e19\u0e25\u0e2a\u0e31\u0e19
        \u0e23\u0e2d\u0e01\u0e01\u0e35\u0e40\u0e1f\u0e25\u0e40\u0e25\u0e2d\u0e23\u0e4c"},"yue":{"language":"yue","value":"\u7d0d\u723e\u905c\u6d1b\u514b\u83f2\u52d2"},"dv":{"language":"dv","value":"Nelson
        Rockefeller"},"wuu":{"language":"wuu","value":"\u7eb3\u5c14\u900a\u00b7\u6d1b\u514b\u83f2\u52d2"},"se":{"language":"se","value":"Nelson
        Rockefeller"},"ur":{"language":"ur","value":"\u0646\u06cc\u0644\u0633\u0646
        \u0631\u0627\u06a9\u0627\u0641\u06cc\u0644\u0631"}},"descriptions":{"nl":{"language":"nl","value":"een
        Amerikaans politicus van de Republikeinse Partij"},"it":{"language":"it","value":"politico
        statunitense"},"es":{"language":"es","value":"empresario estadounidense"},"en":{"language":"en","value":"American
        politician"},"ilo":{"language":"ilo","value[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/wiki/Special:EntityData/Q160278.json
  response:
    body:
      string: '{"entities":{"Q160278":{"pageid":161173,"ns":0,"title":"Q160278","lastrevid":943004514,"modified":"2019-05-16T13:19:07Z","type":"item","id":"Q160278","labels":{"zh-hans":{"language":"zh-hans","value":"\u7ea6\u7ff0\u00b7\u6234\u7ef4\u68ee\u00b7\u6d1b\u514b\u83f2\u52d2"},"zh-hant":{"language":"zh-hant","value":"\u7d04\u7ff0\u00b7\u6234\u7dad\u68ee\u00b7\u6d1b\u514b\u83f2\u52d2"},"zh-hk":{"language":"zh-hk","value":"\u7d04\u7ff0\u00b7\u6234\u7dad\u68ee\u00b7\u6d1b\u514b\u83f2\u52d2"},"zh-cn":{"language":"zh-cn","value":"\u7ea6\u7ff0\u00b7\u6234\u7ef4\u68ee\u00b7\u6d1b\u514b\u83f2\u52d2"},"zh-sg":{"language":"zh-sg","value":"\u7ea6\u7ff0\u00b7\u6234\u7ef4\u68ee\u00b7\u6d1b\u514b\u83f2\u52d2"},"zh-tw":{"language":"zh-tw","value":"\u7d04\u7ff0\u00b7\u6234\u7dad\u68ee\u00b7\u6d1b\u514b\u83f2\u52d2"},"bo":{"language":"bo","value":"\u0f47\u0f7c\u0f60\u0f7c\u0f0b\u0f4f\u0f60\u0f7a\u0f0b\u0f63\u0fa6\u0f7a\u0f0b\u0f66\u0f7c\u0f53\u0f0b\u0f62\u0f7c\u0f60\u0f7c\u0f0b\u0f40\u0f0b\u0f67\u0fa5\u0f7a\u0f0b\u0f63\u0f62\u0f0d"},"pl":{"language":"pl","value":"John
        D. Rockefeller"},"eu":{"language":"eu","value":"John Davidson Rockefeller"},"es":{"language":"es","value":"John
        D. Rockefeller"},"ta":{"language":"ta","value":"\u0b9c\u0bbe\u0ba9\u0bcd \u0b9f\u0bbf.
        \u0bb0\u0bbe\u0b95\u0bcd\u0baa\u0bc6\u0bb2\u0bcd\u0bb2\u0bb0\u0bcd"},"et":{"language":"et","value":"John
        D. Rockefeller"},"bn":{"language":"bn","value":"\u099c\u09a8 \u09b0\u0995\u09ab\u09c7\u09b2\u09be\u09b0"},"el":{"language":"el","value":"\u03a4\u03b6\u03bf\u03bd
        \u039d\u03c4. \u03a1\u03bf\u03ba\u03c6\u03ad\u03bb\u03b5\u03c1"},"my":{"language":"my","value":"\u101b\u1031\u102c\u1037\u1000\u1016\u1032\u101c\u102c\u1038
        \u1002\u103b\u1031\u104a \u1012\u102e"},"ar":{"language":"ar","value":"\u062c\u0648\u0646
        \u062f\u0627\u0641\u064a\u0633\u0648\u0646 \u0631\u0648\u0643\u0641\u0644\u0631"},"sv":{"language":"sv","value":"John
        D. Rockefeller"},"nl":{"language":"nl","value":"John D. Rockefeller"},"pt":{"language":"pt","value":"John
        Davison Rockefeller"},"eo":{"language":"eo","value":"John D. Rockefeller"},"ru":{"language":"ru","value":"\u0414\u0436\u043e\u043d
        \u0414\u044d\u0432\u0438\u0441\u043e\u043d \u0420\u043e\u043a\u0444\u0435\u043b\u043b\u0435\u0440"},"sr-el":{"language":"sr-el","value":"D\u017eon
        D. Rokfeler"},"sr-ec":{"language":"sr-ec","value":"\u040f\u043e\u043d \u0414.
        \u0420\u043e\u043a\u0444\u0435\u043b\u0435\u0440"},"tr":{"language":"tr","value":"John
        D. Rockefeller"},"mk":{"language":"mk","value":"\u040f\u043e\u043d \u0414\u0435\u0458\u0432\u0438\u0441\u043e\u043d
        \u0420\u043e\u043a\u0444\u0435\u043b\u0435\u0440"},"fi":{"language":"fi","value":"John
        D. Rockefeller"},"uk":{"language":"uk","value":"\u0414\u0436\u043e\u043d \u0414\u0435\u0432\u0456\u0441\u043e\u043d
        \u0420\u043e\u043a\u0444\u0435\u043b\u043b\u0435\u0440"},"nn":{"language":"nn","value":"John
        D. Rockefeller"},"az":{"language":"az","value":"Con Rokfeller"},"da":{"language":"da","value":"John
        D. Rockefeller"},"kk-arab":{"language":"kk-arab","value":"\u0631\u0648\u0643\u0641\u06d5\u0644\u0644\u06d5\u0631\u060c
        \u062f\u062c\u0648\u0646 \u062f\u06d5\u06c6\u0649\u064a\u0633\u0648\u0646"},"kk-cn":{"language":"kk-cn","value":"\u0631\u0648\u0643\u0641\u06d5\u0644\u0644\u06d5\u0631\u060c
        \u062f\u062c\u0648\u0646 \u062f\u06d5\u06c6\u0649\u064a\u0633\u0648\u0646"},"kk-tr":{"language":"kk-tr","value":"Rokfeller,
        Djon D\u00e9v\u00efson"},"kk-kz":{"language":"kk-kz","value":"\u0420\u043e\u043a\u0444\u0435\u043b\u043b\u0435\u0440,
        \u0414\u0436\u043e\u043d \u0414\u044d\u0432\u0438\u0441\u043e\u043d"},"kk-cyrl":{"language":"kk-cyrl","value":"\u0420\u043e\u043a\u0444\u0435\u043b\u043b\u0435\u0440,
        \u0414\u0436\u043e\u043d \u0414\u044d\u0432\u0438\u0441\u043e\u043d"},"kk-latn":{"language":"kk-latn","value":"Rokfeller,
        Djon D\u00e9v\u00efson"},"nan":{"language":"nan","value":"John D. Rockefeller"},"pms":{"language":"pms","value":"John
        D. Rockefeller"},"ko":{"language":"ko","value":"\uc874 D. \ub85d\ud3a0\ub7ec"},"he":{"language":"he","value":"\u05d2''\u05d5\u05df
        \u05d3. \u05e8\u05d5\u05e7\u05e4\u05dc\u05e8"},"be":{"language":"be","value":"\u0414\u0436\u043e\u043d
        \u0414\u044d\u0432\u0456\u0441\u0430\u043d \u0420\u0430\u043a\u0444\u0435\u043b\u0435\u0440"},"fr":{"language":"fr","value":"John
        Davison Rockefeller"},"it":{"language":"it","value":"John Davison Rockefeller"},"de":{"language":"de","value":"John
        D. Rockefeller"},"ja":{"language":"ja","value":"\u30b8\u30e7\u30f3\u30fb\u30ed\u30c3\u30af\u30d5\u30a7\u30e9\u30fc"},"vi":{"language":"vi","value":"John
        D. Rockefeller"},"yue":{"language":"yue","value":"\u6d1b\u514b\u83f2\u52d2"},"en":{"language":"en","value":"John
        D. Rockefeller"},"ro":{"language":"ro","value":"John D. Rockefeller"},"th":{"language":"th","value":"\u0e08\u0e2d\u0e2b\u0e4c\u0e19
        \u0e14\u0e35. \u0e23\u0e47\u0e2d\u0e01\u0e40\u0e01\u0e2d\u0e30\u0e40\u0e1f\u0e25\u0e40\u0e25\u0e2d\u0e23\u0e4c"},"ca":{"language":"ca","value":"John
        D. Rockefeller"},"la":{"language":"la","value":"Ioannes Rockefeller"},"cy":{"language":"cy","value":"John
        D. Rockefeller"},"war":{"language":"war","value":"John D. Rockefeller"},"cs":{"language":"cs","value":"John
        D. Rockefeller"},"bg":{"language":"bg","value":"\u0414\u0436\u043e\u043d \u0420\u043e\u043a\u0444\u0435\u043b\u0435\u0440"},"mr":{"language":"mr","value":"\u091c\u0949\u0928
        \u0921\u0940. \u0930\u0949\u0915\u092b\u0947\u0932\u0930 \u092a\u0939\u093f\u0932\u093e"},"fa":{"language":"fa","value":"\u062c\u0627\u0646
        \u062f\u06cc\u0648\u06cc\u0633 \u0631\u0627\u06a9\u0641\u0644\u0631"},"ur":{"language":"ur","value":"\u062c\u0627\u0646
        \u0631\u0627\u06a9 \u0641\u06cc\u0644\u0631"},"ka":{"language":"ka","value":"\u10ef\u10dd\u10dc
        \u10e0\u10dd\u10d9\u10e4\u10d4\u10da\u10d4\u10e0\u10d8"},"lt":{"language":"lt","value":"D\u017eonas
        Deivisonas Rokfeleris"},"zh":{"language":"zh","value":"\u7ea6\u7ff0\u00b7\u6234\u7ef4\u68ee\u00b7\u6d1b\u514b\u83f2\u52d2"},"kk":{"language":"kk","value":"\u0420\u043e\u043a\u0444\u0435\u043b\u043b\u0435\u0440,
        \u0414\u0436\u043e\u043d \u0414\u044d\u0432\u0438\u0441\u043e\u043d"},"sr":{"language":"sr","value":"\u040f\u043e\u043d
        \u0414. \u0420\u043e\u043a\u0444\u0435\u043b\u0435\u0440"},"is":{"language":"is","value":"John
        D. Rockefeller"},"hr":{"language":"hr","value":"John D. Rockefeller"},"sh":{"language":"sh","value":"John
        D. Rockefeller"},"sl":{"language":"sl","value":"John D. Rockefeller"},"nb":{"language":"nb","value":"John
        D. Rockefeller"},"lv":{"language":"lv","value":"D\u017eons Rokfellers"},"de-ch":{"language":"de-ch","value":"John
        D. Rockefeller"},"en-ca":{"language":"en-ca","value":"John D. Rockefeller"},"en-gb":{"language":"en-gb","value":"John
        D. Rockefeller"},"id":{"language":"id","value":"John D. Rockefeller"},"mg":{"language":"mg","value":"John
        D. Rockefeller"},"pt-br":{"language":"pt-br","value":"John Davison Rockefeller"},"hy":{"language":"hy","value":"\u054b\u0578\u0576
        \u0534\u0587\u056b\u057d\u0578\u0576 \u054c\u0578\u0584\u0586\u0565\u056c\u056c\u0565\u0580"},"ast":{"language":"ast","value":"John
        D. Rockefeller"},"hu":{"language":"hu","value":"John D. Rockefeller"},"hi":{"language":"hi","value":"\u091c\u0949\u0928
        \u0921\u0940. \u0930\u0949\u0915\u092b\u0947\u0932\u0930"},"af":{"language":"af","value":"John
        D. Rockefeller"},"an":{"language":"an","value":"John D. Rockefeller"},"bar":{"language":"bar","value":"John
        D. Rockefeller"},"bm":{"language":"bm","value":"John D. Rockefeller"},"br":{"language":"br","value":"John
        D. Rockefeller"},"co":{"language":"co","value":"John D. Rockefeller"},"de-at":{"language":"de-at","value":"John
        D. Rockefeller"},"frc":{"language":"frc","value":"John D. Rockefeller"},"frp":{"language":"frp","value":"John
        D. Rockefeller"},"fur":{"language":"fur","value":"John D. Rockefeller"},"ga":{"language":"ga","value":"John
        D. Rockefeller"},"gd":{"language":"gd","value":"John D. Rockefeller"},"gl":{"language":"gl","value":"John
        D. Rockefeller"},"gsw":{"language":"gsw","value":"John D. Rockefeller"},"ia":{"language":"ia","value":"John
        D. Rockefeller"},"ie":{"language":"ie","value":"John D. Rockefeller"},"io":{"language":"io","value":"John
        D. Rockefeller"},"jam":{"language":"jam","value":"John D. Rockefeller"},"kab":{"language":"kab","value":"John
        D. Rockefeller"},"kg":{"language":"kg","value":"John D. Rockefeller"},"lb":{"language":"lb","value":"John
        D. Rockefeller"},"li":{"language":"li","value":"John D. Rockefeller"},"lij":{"language":"lij","value":"John
        D. Rockefeller"},"min":{"language":"min","value":"John D. Rockefeller"},"ms":{"language":"ms","value":"John
        D. Rockefeller"},"nap":{"language":"nap","value":"John D. Rockefeller"},"nds":{"language":"nds","value":"John
        D. Rockefeller"},"nds-nl":{"language":"nds-nl","value":"John D. Rockefeller"},"nrm":{"language":"nrm","value":"John
        D. Rockefeller"},"oc":{"language":"oc","value":"John D. Rockefeller"},"pap":{"language":"pap","value":"John
        D. Rockefeller"},"pcd":{"language":"pcd","value":"John D. Rockefeller"},"prg":{"language":"prg","value":"John
        D. Rockefeller"},"rgn":{"language":"rgn","value":"John D. Rockefeller"},"rm":{"language":"rm","value":"John
        D. Rockefeller"},"sc":{"language":"sc","value":"John D. Rockefeller"},"scn":{"language":"scn","value":"John
        D. Rockefeller"},"sco":{"language":"sco","value":"John D. Rockefeller"},"sk":{"language":"sk","value":"John
        D. Rockefeller"},"sw":{"language":"sw","value":"John D. Rockefeller"},"vec":{"language":"vec","value":"John
        D. Rockefeller"},"vls":{"language":"vls","value":"John D. Rockefeller"},"vmf":{"language":"vmf","value":"John
        D. Rockefeller"},"vo":{"language":"vo","value":"John D. Rockefeller"},"wa":{"language":"wa","value":"John
        D. Rockefeller"},"wo":{"language":"wo","value":"John D. Rockefeller"},"zu":{"language":"zu","value":"John
        D. Rockefeller"},"bi":{"language":"bi","value":"John D. Rockefeller"},"wuu":{"language":"wuu","value":"\u7ea6\u7ff0\u00b7\u6234\u7ef4\u68ee\u00b7\u6d1b\u514b\u83f2\u52d2"}},"descriptions":{"it":{"language":"it","value":"imprenditore
        statunitense"},"de":{"language":"de","value":"US-amerikanischer Unternehmer"},"en":{"language":"en","value":"American
        business magnate and philanthropist"},"fr":{"language":"fr","value":"entrepreneur  am\u00e9ricain"},"sl":{"language":"sl","value":"ameri\u0161ki
        in[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/wiki/Special:EntityData/Q878708.json
  response:
    body:
      string: '{"entities":{"Q878708":{"pageid":829833,"ns":0,"title":"Q878708","lastrevid":942191593,"modified":"2019-05-15T01:28:51Z","type":"item","id":"Q878708","labels":{"de":{"language":"de","value":"Winthrop
        Rockefeller"},"ja":{"language":"ja","value":"\u30a6\u30a3\u30f3\u30b9\u30ed\u30c3\u30d7\u30fb\u30ed\u30c3\u30af\u30d5\u30a7\u30e9\u30fc"},"pl":{"language":"pl","value":"Winthrop
        Rockefeller"},"fr":{"language":"fr","value":"Winthrop Rockefeller"},"ru":{"language":"ru","value":"\u0420\u043e\u043a\u0444\u0435[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/wiki/Special:EntityData/Q862034.json
  response:
    body:
      string: '{"entities":{"Q862034":{"pageid":813501,"ns":0,"title":"Q862034","lastrevid":921525928,"modified":"2019-04-22T06:02:25Z","type":"item","id":"Q862034","labels":{"zh-hans":{"language":"zh-hans","value":"\u6d1b\u514b\u83f2\u52d2\u57fa\u91d1\u4f1a"},"zh-hant":{"language":"zh-hant","value":"\u6d1b\u514b\u83f2\u52d2\u57fa\u91d1\u6703"},"zh-hk":{"language":"zh-hk","value":"\u6d1b\u514b\u83f2\u52d2\u57fa\u91d1\u6703"},"pt":{"language":"pt","value":"Funda\u00e7\u00e3o
        Rockefeller"},"pl":{"language":"pl","value":"Fundac[...]
