{% extends "viewer/base.html" %}
{% load util %}

{% block title %}{{object.title}} {% include 'viewer/common/agent-tag.html' with agent=object %}{% endblock %}


{% block content %}
<div class="row">
  <div class="{% if object.image_url %}col-9{% else %}col{% endif %} agent__description">
    {% for note in object.note_set.all %}
      {% if note.type == 'abstract' or note.type == 'scopecontent' %}
        {% for subnote in note.subnote_set.all %}
          {% for text in subnote.content %}
            <p class="lead">{{text}} <small class="text-muted"><cite title="{{note.source | source_filter }}">{{note.source | source_filter }}</cite></small></p>
          {% endfor %}
        {% endfor %}
      {% endif %}
    {% endfor %}
    {% include 'viewer/common/notes.html' with notes=object.note_set.all %}
    {% if object.wikipedia_url %}
    <a href="{{object.wikipedia_url}}" target="_new" class="btn btn-primary">See more on Wikipedia</a>
    {% endif %}
  </div>
  {% if object.image_url %}
  <div class="col-3 agent__image">
    <figure class="figure" style="width: 100%;" >
      <img src="{{object.image_url}}" width="100%" alt="{{object.title}}">
      <figcaption class="figure-caption text-right">source: Wikidata</figcaption>
    </figure>
  </div>
  {% endif %}
</div>

<hr/>

<div class="row">
  <div class="col agent__related__collections">
    <h2>Related Collections</h2>
    {% include 'viewer/common/horizontal-list.html' with items=object.collections label="related collections" view="app:collection-detail" %}
  </div>
</div>

<div class="row">
  <div class="col agent__related__objects">
    <h2>Related Objects</h2>
    {% include 'viewer/common/horizontal-list.html' with items=object.agent_objects.all label="related objects" view="app:object-detail" %}
  </div>
</div>
{% endblock %}
