{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}

      {% block meta %}
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
      <meta name="robots" content="NONE,NOARCHIVE" />
      {% endblock %}

      <title>Pisces</title>

      {% block style %}
      <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css" %}">
      <link rel="stylesheet" href="{% static "css/styles.css" %}">
      {% endblock %}

    {% endblock %}
  </head>

  {% block body %}
  <body class="{% block bodyclass %}{% endblock %}">

    <div class="wrapper">
      {% block navbar %}
        <nav class="navbar navbar-static-top navbar-expand navbar-dark bg-dark"
             role="navigation" aria-label="{% trans "navbar" %}">
          <div class="container">
            {% block branding %}
            <a class="navbar-brand" rel="nofollow" href="/">Pisces</a>
            {% endblock %}
            <ul class="navbar-nav mr-auto">
              <li class="nav-item"><a class="nav-link" href="{% url 'app:agent-list' %}">Agents</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'app:collection-list' %}">Collections</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'app:term-list' %}">Terms</a></li>
            </ul>
          </div>
        </nav>
      {% endblock %}

      <div class="container mt-3">
        <!-- Content -->
        <main id="content" role="main" aria-label="{% trans "content" %}">
          <h1>{% block title %}{% endblock %}</h1>
          {% block content %}{% endblock content %}
        </main><!-- /.content -->
      </div><!-- /.container -->
    </div><!-- ./wrapper -->

    {% block script %}
      <script src="{% static "dist/jquery/jquery-3.3.1.min.js" %}"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <script src="{% static "js/custom.js" %}"></script>
    {% endblock %}

  </body>
  {% endblock %}
</html>
