DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'postgres',
        'USER': 'postgres',
        'HOST': 'pisces-db',
        'PORT': 5432,
    }
}

ARCHIVESSPACE = {
    "baseurl": "http://sandbox.archivesspace.org/",
    "username": "admin",
    "password": "admin",
    "repo": 2,
    "transform_url": "http://pisces-web:8007/transform/archivesspace/"
}

CARTOGRAPHER = {
    "baseurl": "http://localhost:8007",
    "user": "admin",
    "password": "admin",
    "health_check_path": "/status/health/",
    "transform_url": "http://pisces-web:8007/transform/cartographer/"
}

SILKY_PYTHON_PROFILER = True

MERGE_URL = "http://pisces-web:8007/merge/"

TRANSFORM_URL = "http://pisces-web:8007/transform/"

INDEX_DELETE_URL = "http://scorpio-web:8008/index/delete/"

ALLOWED_HOSTS = ['localhost', 'pisces-web']
