DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'postgres',
        'USER': 'postgres',
        'HOST': 'pisces-db',
        'PORT': 5432,
    }
}

ARCHIVESSPACE = {
    "baseurl": "http://sandbox.archivesspace.org/",
    "username": "admin",
    "password": "admin",
    "repo": 2,
}

CARTOGRAPHER = {
    "baseurl": "http://localhost:8007",
    "user": "admin",
    "password": "admin",
}

ALLOWED_HOSTS = ['localhost', 'pisces-web']
