.collapse-icon::before {
    content: '▶︎';
    transform:scale(1,.5);
}

.collapse-icon:not(.collapsed)::before {
    content: '▼';
    transform:scale(1,.5);
}

.collapse-icon:hover {
    text-decoration: none!important;
}

.horizontal-scroll {
  overflow-x: auto;
  flex-wrap: nowrap;
  .card {
    height: 100%;
  }
}

.full-height {
  height: 100%;
}
